<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calendar">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".activity.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" >
        <activity android:name="com.example.calendar.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.calendar.activity.MonthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.example.calendar.activity.AddScheduleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.example.calendar.activity.CurrentSurplusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.example.calendar.activity.DataDisplayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.example.calendar.activity.ScheduleQueryResultsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.example.calendar.activity.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <service android:name=".activity.X5ProcessInitService" android:process=":web"
            android:exported="false"/>
        <service android:name=".activity.service.CheckService"/>
    </application>

</manifest>